// Satoshi
@font-face {
  font-family: 'Satoshi';
  src: url('../../fonts/Satoshi-Variable.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

// Special Typography Styles
// ---------------------------
.title(@font-size: 2em) {
  font-size: @font-size;
  font-variation-settings: "wght" 550;
  letter-spacing: -0.01em;
}
.eyebrow(@font-size: 1em) {
  font-size: @font-size;
  font-variation-settings: "wght" 550;
  letter-spacing: 0.05em;
}

.title-1 {
  .title(2em);
}
.title-2 {
  .title(1.5em);
}
.title-3 {
  .title(1.25em);
}
.title-4 {
  .title(1.125em);
}

.eyebrow-1 {
  .title(0.875em);
}
.eyebrow-2 {
  .title(0.75em);
}
