@import "variables";
@import "utilities";
@import "shorthands";
@import "themes";

// Fonts
html,
body {
  --transition-property: background-color;
  --transition-duration: 5s;
  --transition-timing-function: ease-in-out;

  padding: 0;
  margin: 0;
  min-height: 100dvh;
  font-family: 'Satoshi', -apple-system, 'Arial', sans-serif;
  font-size: clamp(14px, 4vw, 16px);
  font-variation-settings: "wght" 500;
  color: var(--site-color-66);
  background-color: var(--site-accent);
  -webkit-font-smoothing: antialiased;
  transition:
          background-color var(--transition-duration, .2s) var(--transition-timing-function, var(--bezier-pull)),
          color var(--transition-duration, .2s) var(--transition-timing-function, var(--bezier-pull));
  will-change: background-color, color;
  // .transit();
}

// Links (Default)
a {
  color: var(--site-color);
  text-decoration: none;
  .transit();

  // Hover
  &:hover {
    color: var(--site-color);
  }
}

p, small {
  font-size: inherit;
  color: var(--site-color-66);
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6, b, strong, p {
  margin: unset;
  color: var(--site-color);
}

* {
  box-sizing: border-box;
}

hr {
  margin: 2em 0;
  border-color: var(--site-color-10);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

address {
  font-style: inherit;
}

article > a {
  display: flow-root;
}

.icon {
  width: 1em;
  height: auto;
}

@import "_globals/grid";
@import "_globals/font";
@import "_globals/states";
@import "_globals/transitions";
@import "components";
@import "pages";
